*{
    box-sizing: border-box;
}

body {
    width: 600px;
    height: 300px;
    border: 1px solid;
}

form {
    border: none;
    background-color: aqua;
}

h1 {
    color: darkblue;
}

.wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    border: none;
}

.container {
    background-color: aqua;
    max-width: 40px;
    max-height: 40px;
    margin-bottom: 5px;
}

img {
    max-width: 40px;
    max-height: 40px;
    border: 1px solid;
    display: inline-block;
}

input {
    width: 100%;
    padding: 10px;
    outline: none;
    margin-bottom: 5px;
    border: 5px;
    border-radius: 5px;
}

input:focus {
    border: 2px solid dodgerblue;
}

.input_wrapper {
    display: flex;
}

.button {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.button:hover {
    opacity: 1;
}